
intermediate/working with files/.ipynb_checkpoints/working  with files-checkpoint.ipynb
intermediate/data of employees/.ipynb_checkpoints/main-checkpoint.ipynb
intermediate/digital clock app/.ipynb_checkpoints/digital_clock-checkpoint.ipynb
intermediate/music app/.ipynb_checkpoints/music_app-checkpoint.ipynb
