
intermediate/working with files/.ipynb_checkpoints/working  with files-checkpoint.ipynb
intermediate/data of employees/.ipynb_checkpoints/main-checkpoint.ipynb
intermediate/digital clock app/.ipynb_checkpoints/digital_clock-checkpoint.ipynb
intermediate/music app/.ipynb_checkpoints/music_app-checkpoint.ipynb
basics/DB builder from CSV/.ipynb_checkpoints/main-checkpoint.ipynb
intermediate/plotter/.ipynb_checkpoints/main-checkpoint.ipynb
advanced/donation_analysis/.ipynb_checkpoints/main-checkpoint.ipynb
*.csv
