
intermediate/working with files/.ipynb_checkpoints/working  with files-checkpoint.ipynb
intermediate/data of employees/.ipynb_checkpoints/main-checkpoint.ipynb
intermediate/digital clock app/.ipynb_checkpoints/digital_clock-checkpoint.ipynb
intermediate/music app/.ipynb_checkpoints/music_app-checkpoint.ipynb
basics/DB builder from CSV/.ipynb_checkpoints/main-checkpoint.ipynb
intermediate/plotter/.ipynb_checkpoints/main-checkpoint.ipynb
advanced/donation_analysis/.ipynb_checkpoints/main-checkpoint.ipynb
*.csv
temp/temp.ipynb
temp/data/bluebook-for-bulldozers.zip
*.png
*.jpeg
New folder/data/bluebook-for-bulldozers.zip
*.zip
*.svg
*.7z
*.xlsx
Data Analysis , Data Science, Machine Learning & Deep Leaning Projects/Project 2 - Supervised Learning (Regression)/bluebook-for-bulldozers/__MACOSX/._bluebook-for-bulldozers
udemy notes/to do projects/.ipynb_checkpoints/The GitHub History of the Scala Language-checkpoint.ipynb
